openapi: 3.0.1
info:
  title: My Title
  version: 1.0.0
servers:
- url: https://hknhk.com/
paths:
  /api/AppServer/Register:
    post:
      operationId: AppServer_Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfUserInfo'
          description: ""
      tags:
      - AppServer
      x-codegen-request-body-name: register
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: AppServer
  /api/AppServer/Login:
    post:
      operationId: AppServer_Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfUserInfo'
          description: ""
      tags:
      - AppServer
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: AppServer
  /api/AppServer/Logout:
    post:
      operationId: AppServer_Logout
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - AppServer
      x-accepts: application/json
      x-tags:
      - tag: AppServer
  /api/AppServer/UpdateDeviceInfo:
    post:
      operationId: AppServer_UpdateDeviceInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceReg'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - AppServer
      x-codegen-request-body-name: reg
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: AppServer
  /api/AppServer/Index:
    get:
      operationId: AppServer_Index
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileViewModel'
          description: ""
      tags:
      - AppServer
      x-accepts: application/json
      x-tags:
      - tag: AppServer
  /api/AppServer/ForgotPasswordBase:
    post:
      operationId: AppServer_ForgotPasswordBase
      parameters:
      - in: query
        name: domainRootId
        schema:
          format: int64
          nullable: false
          type: integer
      - in: query
        name: surname
        schema:
          nullable: true
          type: string
      - in: query
        name: givenName
        schema:
          nullable: true
          type: string
      - in: query
        name: gender
        schema:
          nullable: true
          type: string
      - in: query
        name: email
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneDistrictNum
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneNumber
        schema:
          nullable: true
          type: string
      - in: query
        name: password
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
          description: ""
      tags:
      - AppServer
      x-accepts: application/json
      x-tags:
      - tag: AppServer
  /api/Customer/ForgotLogin:
    post:
      operationId: Customer_ForgotLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/Register:
    post:
      operationId: Customer_Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfUserInfo'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: register
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/Login:
    post:
      operationId: Customer_Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfUserInfo'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: loginInfo
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/Logout:
    post:
      operationId: Customer_Logout
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetProfile:
    get:
      operationId: Customer_GetProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfUserInfo'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetQA:
    get:
      operationId: Customer_GetQA
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - in: query
        name: path
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: query
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfQa'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/AddQA:
    post:
      operationId: Customer_AddQA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Qa'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Qa'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: qa
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetCategories:
    get:
      operationId: Customer_GetCategories
      parameters:
      - in: query
        name: typeCode
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatGroup'
                type: array
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetPrices:
    get:
      operationId: Customer_GetPrices
      parameters:
      - in: query
        name: id
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PriceInfo'
                type: array
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetPostCatLabels:
    get:
      operationId: Customer_GetPostCatLabels
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetPostCats:
    get:
      operationId: Customer_GetPostCats
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/AddToCart:
    post:
      operationId: Customer_AddToCart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfCartRecord'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: item
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/RemoveFromCart:
    post:
      operationId: Customer_RemoveFromCart
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: ids
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/UpdateCartItem:
    post:
      operationId: Customer_UpdateCartItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfCartRecord'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: item
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/AddOrders:
    post:
      operationId: Customer_AddOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MasterOrder'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RetOfOrderInfo'
                type: array
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetOrders:
    get:
      operationId: Customer_GetOrders
      parameters:
      - in: query
        name: id
        required: true
        schema:
          format: int64
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrderDetail'
                type: array
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetOrderDetail:
    get:
      operationId: Customer_GetOrderDetail
      parameters:
      - in: query
        name: id
        required: true
        schema:
          format: int64
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailViewModel'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetOrderList:
    get:
      operationId: Customer_GetOrderList
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfOrderDetail'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/AddContact:
    post:
      operationId: Customer_AddContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfContact'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: contact
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/RemoveContact:
    post:
      operationId: Customer_RemoveContact
      requestBody:
        content:
          application/json:
            schema:
              format: int64
              type: integer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: contactId
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetContacts:
    get:
      operationId: Customer_GetContacts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetContactsPaged:
    get:
      operationId: Customer_GetContactsPaged
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: catId
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfContact'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetPickupLlocations:
    get:
      operationId: Customer_GetPickupLlocations
      parameters:
      - in: query
        name: catId
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetPickupContactById:
    get:
      operationId: Customer_GetPickupContactById
      parameters:
      - in: query
        name: id
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetCartItems:
    get:
      operationId: Customer_GetCartItems
      parameters:
      - in: query
        name: suid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfCartItemDetailGroup'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/GetLocalCartItems:
    post:
      operationId: Customer_GetLocalCartItems
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CartRecord'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfCartItemDetailGroup'
          description: ""
      tags:
      - Customer
      x-codegen-request-body-name: cartItems
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/Ping:
    get:
      operationId: Customer_Ping
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/Customer/ForgotPasswordBase:
    post:
      operationId: Customer_ForgotPasswordBase
      parameters:
      - in: query
        name: domainRootId
        schema:
          format: int64
          nullable: false
          type: integer
      - in: query
        name: surname
        schema:
          nullable: true
          type: string
      - in: query
        name: givenName
        schema:
          nullable: true
          type: string
      - in: query
        name: gender
        schema:
          nullable: true
          type: string
      - in: query
        name: email
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneDistrictNum
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneNumber
        schema:
          nullable: true
          type: string
      - in: query
        name: password
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
          description: ""
      tags:
      - Customer
      x-accepts: application/json
      x-tags:
      - tag: Customer
  /api/MemBase:
    post:
      operationId: MemBase_ForgotPasswordBase
      parameters:
      - in: query
        name: domainRootId
        schema:
          format: int64
          nullable: false
          type: integer
      - in: query
        name: surname
        schema:
          nullable: true
          type: string
      - in: query
        name: givenName
        schema:
          nullable: true
          type: string
      - in: query
        name: gender
        schema:
          nullable: true
          type: string
      - in: query
        name: email
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneDistrictNum
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneNumber
        schema:
          nullable: true
          type: string
      - in: query
        name: password
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
          description: ""
      tags:
      - MemBase
      x-accepts: application/json
      x-tags:
      - tag: MemBase
  /api/Member/AddPostLink:
    post:
      operationId: Member_AddPostLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLink'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfPostLink'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: link
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemovePostLink:
    post:
      operationId: Member_RemovePostLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLink'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfPostLink'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: link
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetPostLinks:
    get:
      operationId: Member_GetPostLinks
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PostLink'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdatePostLink:
    post:
      operationId: Member_UpdatePostLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLink'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfPostLink'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: link
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdatePostLinkImg:
    post:
      operationId: Member_UpdatePostLinkImg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLink'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfPostLink'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: link
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetQA:
    get:
      operationId: Member_GetQA
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - in: query
        name: path
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: query
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: toUserId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfQa'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddQA:
    post:
      operationId: Member_AddQA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Qa'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Qa'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: qa
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopList:
    get:
      operationId: Member_GetShopList
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: cat
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: sid
        schema:
          items:
            format: int64
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfFilterResultOfShopInfo'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopByUid:
    get:
      operationId: Member_GetShopByUid
      parameters:
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfShopInfo'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopViewModelByUid:
    get:
      operationId: Member_GetShopViewModelByUid
      parameters:
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfObject'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateContactType:
    post:
      operationId: Member_UpdateContactType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfContact'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: contact
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/CreateShop:
    post:
      operationId: Member_CreateShop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfShopInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateShopCat:
    post:
      operationId: Member_UpdateShopCat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfShopInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: shop
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddMultiFiles:
    post:
      operationId: Member_AddMultiFiles
      parameters:
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfListOfFileRecord'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateShopLogo:
    post:
      operationId: Member_UpdateShopLogo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfShopInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: shop
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateShop:
    post:
      operationId: Member_UpdateShop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfShopInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: shop
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemoveRoleFromUser:
    post:
      operationId: Member_RemoveRoleFromUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddRoleToUser:
    post:
      operationId: Member_AddRoleToUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfUserRoleInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddRole:
    post:
      operationId: Member_AddRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfRoleInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetAllRoles:
    get:
      operationId: Member_GetAllRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleInfo'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateRole:
    post:
      operationId: Member_UpdateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddCatConfigLabel:
    post:
      operationId: Member_AddCatConfigLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatConfigLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfCatConfigLabel'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetCatConfigLabels:
    get:
      operationId: Member_GetCatConfigLabels
      parameters:
      - in: query
        name: catType
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatLabelGroup'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopInfoLabelByCatId:
    get:
      operationId: Member_GetShopInfoLabelByCatId
      parameters:
      - in: query
        name: catId
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatLabelGroup'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopInfoLabels:
    get:
      operationId: Member_GetShopInfoLabels
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/CatLabelGroup'
                type: object
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemoveCatConfigLabel:
    post:
      operationId: Member_RemoveCatConfigLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatConfigLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateOrderBase:
    post:
      operationId: Member_UpdateOrderBase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/SetOrderActive:
    post:
      operationId: Member_SetOrderActive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/SetOrderPaid:
    post:
      operationId: Member_SetOrderPaid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/SetPaymentPaid:
    post:
      operationId: Member_SetPaymentPaid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateOrderShopMsg:
    post:
      operationId: Member_UpdateOrderShopMsg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/SetOrderOfferReady:
    post:
      operationId: Member_SetOrderOfferReady
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AcceptQuotation:
    post:
      operationId: Member_AcceptQuotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: info
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddOrderExtra:
    post:
      operationId: Member_AddOrderExtra
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfOrderCatLabel'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetOrderExtras:
    get:
      operationId: Member_GetOrderExtras
      parameters:
      - in: query
        name: orderId
        required: true
        schema:
          format: int64
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatLabelGroup'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemoveOrderExtra:
    post:
      operationId: Member_RemoveOrderExtra
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddPost:
    post:
      operationId: Member_AddPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfPostRecord'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: newrecord
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetPostProps:
    get:
      operationId: Member_GetPostProps
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PostProp'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddPostProps:
    post:
      operationId: Member_AddPostProps
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PostProp'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfListOfPostProp'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: props
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemoveFileFromPost:
    post:
      operationId: Member_RemoveFileFromPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfListOfFileRecord'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: file
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdatePostFile:
    post:
      operationId: Member_UpdatePostFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfListOfFileRecord'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: file
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddFileToPost:
    post:
      operationId: Member_AddFileToPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfInt64'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: file
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetPriceInfos:
    get:
      operationId: Member_GetPriceInfosAll
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PriceInfo'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
    post:
      operationId: Member_GetPriceInfos
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PriceInfo'
                type: array
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: priceIds
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddPriceInfos:
    post:
      operationId: Member_AddPriceInfos
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PriceInfo'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfListOfPriceInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: prices
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/SetPriceInfos:
    post:
      operationId: Member_SetPriceInfos
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PriceInfo'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfListOfPriceInfo'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: prices
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetPostById:
    get:
      operationId: Member_GetPostById
      parameters:
      - in: query
        name: id
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRecord'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdatePostBase:
    post:
      operationId: Member_UpdatePostBase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfPostRecord'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: postbase
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetOwnerFile:
    get:
      operationId: Member_GetOwnerFile
      parameters:
      - in: query
        name: filename
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddPostCatLabel:
    post:
      operationId: Member_AddPostCatLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PsCatLabel'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: labels
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetPostCatLabels:
    get:
      operationId: Member_GetPostCatLabels
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatLabelGroup'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemovePostCatLabel:
    post:
      operationId: Member_RemovePostCatLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: catLabel
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetPostCats:
    get:
      operationId: Member_GetPostCats
      parameters:
      - in: query
        name: postId
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryPair'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemovePostCat:
    post:
      operationId: Member_RemovePostCat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsCatId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: psCatId
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddPostCat:
    post:
      operationId: Member_AddPostCat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsCatId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PsCatId'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: pcat
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopCatTag:
    get:
      operationId: Member_GetShopCatTag
      parameters:
      - in: query
        name: shopId
        required: true
        schema:
          format: int64
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryPair'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemoveShopCatTag:
    post:
      operationId: Member_RemoveShopCatTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopCatTag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: tag
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddShopCatTag:
    post:
      operationId: Member_AddShopCatTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopCatTag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopCatTag'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: tag
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateShopCatLabel:
    post:
      operationId: Member_UpdateShopCatLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfFrontendCatLabel'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddShopCatLabel:
    post:
      operationId: Member_AddShopCatLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfShopCatLabel'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopCatLabels:
    get:
      operationId: Member_GetShopCatLabels
      parameters:
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatLabelGroup'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopCatLabelsGrouped:
    get:
      operationId: Member_GetShopCatLabelsGrouped
      parameters:
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatGroupedLabels'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/RemoveShopCatLabel:
    post:
      operationId: Member_RemoveShopCatLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopCatLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: label
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/AddCategory:
    post:
      operationId: Member_AddCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfCategory'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: newcat
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/UpdateCategory:
    post:
      operationId: Member_UpdateCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfCategory'
          description: ""
      tags:
      - Member
      x-codegen-request-body-name: cat
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetCategories:
    get:
      operationId: Member_GetCategories
      parameters:
      - in: query
        name: typeCode
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatGroup'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetUserPosts:
    get:
      operationId: Member_GetUserPosts
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: cat
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: state
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PostRecord'
                type: array
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetShopItems:
    get:
      operationId: Member_GetShopItems
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: cat
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: keyword
        required: true
        schema:
          nullable: true
          type: string
      - explode: true
        in: query
        name: prid
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResultOfPostRecord'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetUserFiles:
    get:
      operationId: Member_GetUserFiles
      parameters:
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - in: query
        name: uid
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfFilterResultOfFileRecord'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/GetDashProfile:
    get:
      operationId: Member_GetDashProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetOfDashProfile'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /api/Member/ForgotPasswordBase:
    post:
      operationId: Member_ForgotPasswordBase
      parameters:
      - in: query
        name: domainRootId
        schema:
          format: int64
          nullable: false
          type: integer
      - in: query
        name: surname
        schema:
          nullable: true
          type: string
      - in: query
        name: givenName
        schema:
          nullable: true
          type: string
      - in: query
        name: gender
        schema:
          nullable: true
          type: string
      - in: query
        name: email
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneDistrictNum
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneNumber
        schema:
          nullable: true
          type: string
      - in: query
        name: password
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
          description: ""
      tags:
      - Member
      x-accepts: application/json
      x-tags:
      - tag: Member
  /Spa/GetPostById:
    get:
      operationId: Spa_GetPostById
      parameters:
      - in: query
        name: id
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRecord'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/GetArticleById:
    get:
      operationId: Spa_GetArticleById
      parameters:
      - in: query
        name: id
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRecord'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/Policies:
    get:
      operationId: Spa_Policies
      parameters:
      - in: query
        name: scode
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PostRecord'
                type: array
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/GetShopInfo:
    get:
      operationId: Spa_GetShopInfo
      parameters:
      - in: query
        name: scode
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopsViewModel'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/GetPagedInfos:
    get:
      operationId: Spa_GetPagedInfos
      parameters:
      - in: query
        name: srcShopCode
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: scode
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: catSubType
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - in: query
        name: pageSize
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: cat
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - in: query
        name: keyword
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: getLinks
        required: true
        schema:
          nullable: true
          type: boolean
      - explode: true
        in: query
        name: prid
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopsViewModel'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/GetShopItems:
    get:
      operationId: Spa_GetShopItems
      parameters:
      - in: query
        name: scode
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: cat
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - in: query
        name: keyword
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopsViewModel'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/GetArticles:
    get:
      operationId: Spa_GetArticles
      parameters:
      - in: query
        name: scode
        required: true
        schema:
          nullable: true
          type: string
      - in: query
        name: page
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
      - explode: true
        in: query
        name: cat
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        schema:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        style: form
      - in: query
        name: keyword
        required: true
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopsViewModel'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
  /Spa/ForgotPasswordBase:
    post:
      operationId: Spa_ForgotPasswordBase
      parameters:
      - in: query
        name: domainRootId
        schema:
          format: int64
          nullable: false
          type: integer
      - in: query
        name: surname
        schema:
          nullable: true
          type: string
      - in: query
        name: givenName
        schema:
          nullable: true
          type: string
      - in: query
        name: gender
        schema:
          nullable: true
          type: string
      - in: query
        name: email
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneDistrictNum
        schema:
          nullable: true
          type: string
      - in: query
        name: phoneNumber
        schema:
          nullable: true
          type: string
      - in: query
        name: password
        schema:
          nullable: true
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
          description: ""
      tags:
      - Spa
      x-accepts: application/json
      x-tags:
      - tag: Spa
components:
  schemas:
    Register:
      example:
        password: password
        phoneNumber: phoneNumber
        gender: gender
        domainRootId: 0
        surname: surname
        givenName: givenName
        phoneDistrictNum: phoneDistrictNum
        email: email
      properties:
        domainRootId:
          format: int64
          type: integer
        surname:
          type: string
        givenName:
          type: string
        gender:
          type: string
        email:
          type: string
        phoneDistrictNum:
          type: string
        phoneNumber:
          type: string
        password:
          type: string
      required:
      - domainRootId
      type: object
    RetOfUserInfo:
      example:
        msgs:
        - code: code
          value: value
        - code: code
          value: value
        ok: true
        value:
          emailConfirmed: true
          gender: gender
          phone: phone
          domainRootId: 0
          surname: surname
          displayName: displayName
          givenName: givenName
          roles:
          - recordId: 6
            code: code
            name: name
            id: 1
            userId: userId
          - recordId: 6
            code: code
            name: name
            id: 1
            userId: userId
          accessToken: accessToken
          userId: userId
          email: email
          createDate: 2000-01-23T04:56:07.000+00:00
      properties:
        ok:
          type: boolean
        value:
          $ref: '#/components/schemas/UserInfo'
        msgs:
          items:
            $ref: '#/components/schemas/Msg'
          type: array
      required:
      - ok
      type: object
    UserInfo:
      example:
        emailConfirmed: true
        gender: gender
        phone: phone
        domainRootId: 0
        surname: surname
        displayName: displayName
        givenName: givenName
        roles:
        - recordId: 6
          code: code
          name: name
          id: 1
          userId: userId
        - recordId: 6
          code: code
          name: name
          id: 1
          userId: userId
        accessToken: accessToken
        userId: userId
        email: email
        createDate: 2000-01-23T04:56:07.000+00:00
      properties:
        domainRootId:
          format: int64
          type: integer
        emailConfirmed:
          type: boolean
        userId:
          type: string
        givenName:
          type: string
        surname:
          type: string
        displayName:
          type: string
        gender:
          type: string
        accessToken:
          type: string
        email:
          type: string
        phone:
          type: string
        createDate:
          format: date-time
          type: string
        roles:
          items:
            $ref: '#/components/schemas/UserRoleInfo'
          type: array
      required:
      - createDate
      - domainRootId
      - emailConfirmed
      type: object
    UserRoleInfo:
      example:
        recordId: 6
        code: code
        name: name
        id: 1
        userId: userId
      properties:
        recordId:
          format: int64
          type: integer
        userId:
          type: string
        id:
          format: int32
          type: integer
        name:
          type: string
        code:
          type: string
      required:
      - id
      - recordId
      type: object
    Msg:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    LoginInfo:
      example:
        password: password
        domainRootId: 0
        id: id
        deviceReg:
          deviceID: deviceID
          pushToken: pushToken
          platform: null
      properties:
        domainRootId:
          format: int64
          type: integer
        id:
          type: string
        password:
          type: string
        deviceReg:
          $ref: '#/components/schemas/DeviceReg'
      required:
      - domainRootId
      type: object
    DeviceReg:
      example:
        deviceID: deviceID
        pushToken: pushToken
        platform: null
      properties:
        platform:
          $ref: '#/components/schemas/Platform'
        deviceID:
          type: string
        pushToken:
          type: string
      required:
      - platform
      type: object
    Platform:
      description: ""
      enum:
      - W
      - A
      - I
      type: string
      x-enumNames:
      - W
      - A
      - I
    MobileViewModel:
      example:
        msg: msg
        title: title
        items:
        - images:
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          textMsg: textMsg
          videos:
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          postId: postId
          title: title
          childs:
          - null
          - null
          userId: userId
          parentId: parentId
          tags:
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          labels:
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            label:
              catId: 4
              text0: text0
              code: code
              text1: text1
              stateCode: 9
              id: 1
              label: label
              userId: userId
              seq: 5
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            label:
              catId: 4
              text0: text0
              code: code
              text1: text1
              stateCode: 9
              id: 1
              label: label
              userId: userId
              seq: 5
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          catId: 9
          zoneEditDatetime: 2000-01-23T04:56:07.000+00:00
          itemPath: itemPath
          extRef: extRef
          parentCategory:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          links:
          - linkTitle: linkTitle
            linkImg: linkImg
            imgThumb: imgThumb
            linkUrl: linkUrl
            linkType: 8
            linkText: linkText
            id: 6
            postId: postId
            seq: 9
          - linkTitle: linkTitle
            linkImg: linkImg
            imgThumb: imgThumb
            linkUrl: linkUrl
            linkType: 8
            linkText: linkText
            id: 6
            postId: postId
            seq: 9
          stateCode: 6
          thumbPath: thumbPath
          category:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          prices:
          - cost: 9.301444243932576
            price: 3.616076749251911
            propId: 2
            prop:
              catPairs:
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              id: 4
              postId: postId
              catIds:
              - 7
              - 7
            id: 7
            postId: postId
            propCode: propCode
          - cost: 9.301444243932576
            price: 3.616076749251911
            propId: 2
            prop:
              catPairs:
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              id: 4
              postId: postId
              catIds:
              - 7
              - 7
            id: 7
            postId: postId
            propCode: propCode
          seq: 3
        - images:
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          textMsg: textMsg
          videos:
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          - postFileId: 1
            fileName: fileName
            recordDateUtc: 2000-01-23T04:56:07.000+00:00
            textContent: textContent
            postId: postId
            fileMsg: fileMsg
            userId: userId
            path: path
            fileSize: 1
            stateCode: 6
            thumbPath: thumbPath
            category: category
            fileType: fileType
            seq: 7
            fileID: 1
          postId: postId
          title: title
          childs:
          - null
          - null
          userId: userId
          parentId: parentId
          tags:
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          labels:
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            label:
              catId: 4
              text0: text0
              code: code
              text1: text1
              stateCode: 9
              id: 1
              label: label
              userId: userId
              seq: 5
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          - parent:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
            label:
              catId: 4
              text0: text0
              code: code
              text1: text1
              stateCode: 9
              id: 1
              label: label
              userId: userId
              seq: 5
            child:
              catId: 6
              subTypeCode: 5
              name: name
              stateCode: 5
              userId: userId
              parentId: 0
              seq: 2
              typeCode: 1
          catId: 9
          zoneEditDatetime: 2000-01-23T04:56:07.000+00:00
          itemPath: itemPath
          extRef: extRef
          parentCategory:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          links:
          - linkTitle: linkTitle
            linkImg: linkImg
            imgThumb: imgThumb
            linkUrl: linkUrl
            linkType: 8
            linkText: linkText
            id: 6
            postId: postId
            seq: 9
          - linkTitle: linkTitle
            linkImg: linkImg
            imgThumb: imgThumb
            linkUrl: linkUrl
            linkType: 8
            linkText: linkText
            id: 6
            postId: postId
            seq: 9
          stateCode: 6
          thumbPath: thumbPath
          category:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          prices:
          - cost: 9.301444243932576
            price: 3.616076749251911
            propId: 2
            prop:
              catPairs:
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              id: 4
              postId: postId
              catIds:
              - 7
              - 7
            id: 7
            postId: postId
            propCode: propCode
          - cost: 9.301444243932576
            price: 3.616076749251911
            propId: 2
            prop:
              catPairs:
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              - parent:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
                child:
                  catId: 6
                  subTypeCode: 5
                  name: name
                  stateCode: 5
                  userId: userId
                  parentId: 0
                  seq: 2
                  typeCode: 1
              id: 4
              postId: postId
              catIds:
              - 7
              - 7
            id: 7
            postId: postId
            propCode: propCode
          seq: 3
      properties:
        title:
          type: string
        msg:
          type: string
        items:
          items:
            $ref: '#/components/schemas/PostRecord'
          type: array
      type: object
    PostRecord:
      example:
        images:
        - postFileId: 1
          fileName: fileName
          recordDateUtc: 2000-01-23T04:56:07.000+00:00
          textContent: textContent
          postId: postId
          fileMsg: fileMsg
          userId: userId
          path: path
          fileSize: 1
          stateCode: 6
          thumbPath: thumbPath
          category: category
          fileType: fileType
          seq: 7
          fileID: 1
        - postFileId: 1
          fileName: fileName
          recordDateUtc: 2000-01-23T04:56:07.000+00:00
          textContent: textContent
          postId: postId
          fileMsg: fileMsg
          userId: userId
          path: path
          fileSize: 1
          stateCode: 6
          thumbPath: thumbPath
          category: category
          fileType: fileType
          seq: 7
          fileID: 1
        textMsg: textMsg
        videos:
        - postFileId: 1
          fileName: fileName
          recordDateUtc: 2000-01-23T04:56:07.000+00:00
          textContent: textContent
          postId: postId
          fileMsg: fileMsg
          userId: userId
          path: path
          fileSize: 1
          stateCode: 6
          thumbPath: thumbPath
          category: category
          fileType: fileType
          seq: 7
          fileID: 1
        - postFileId: 1
          fileName: fileName
          recordDateUtc: 2000-01-23T04:56:07.000+00:00
          textContent: textContent
          postId: postId
          fileMsg: fileMsg
          userId: userId
          path: path
          fileSize: 1
          stateCode: 6
          thumbPath: thumbPath
          category: category
          fileType: fileType
          seq: 7
          fileID: 1
        postId: postId
        title: title
        childs:
        - null
        - null
        userId: userId
        parentId: parentId
        tags:
        - parent:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          child:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
        - parent:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          child:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
        labels:
        - parent:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          label:
            catId: 4
            text0: text0
            code: code
            text1: text1
            stateCode: 9
            id: 1
            label: label
            userId: userId
            seq: 5
          child:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
        - parent:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
          label:
            catId: 4
            text0: text0
            code: code
            text1: text1
            stateCode: 9
            id: 1
            label: label
            userId: userId
            seq: 5
          child:
            catId: 6
            subTypeCode: 5
            name: name
            stateCode: 5
            userId: userId
            parentId: 0
            seq: 2
            typeCode: 1
        catId: 9
        zoneEditDatetime: 2000-01-23T04:56:07.000+00:00
        itemPath: itemPath
        extRef: extRef
        parentCategory:
          catId: 6
          subTypeCode: 5
          name: name
          stateCode: 5
          userId: userId
          parentId: 0
          seq: 2
          typeCode: 1
        links:
        - linkTitle: linkTitle
          linkImg: linkImg
          imgThumb: imgThumb
          linkUrl: linkUrl
          linkType: 8
          linkText: linkText
          id: 6
[...]
